# Macros:
#% macro, P, Device Prefix
#% macro, R, Device Suffix

record( stringin, "$(P)$(R)CamModel" )
{
	field( VAL,   "AxisSXRF60" )
	field( PINI,  "YES" )
}

record( stringin, "$(P)$(R)CamModelScreen" )
{
	field( VAL,   "ADGenICamScreens/AxisSXRF60.edl" )
	field( PINI,  "YES" )
}

# Override FLNK in ADCore PV AcquireTime to cause our calc record to process
record( ao, "$(P)$(R)AcquireTime" )
{
	field( FLNK, "$(P)$(R)AxisCalcAcquireTime" )
}
# Use calcout records to convert to/from AcquireTime in sec and GC_AcqExpTime in uSec
record( calcout, "$(P)$(R)AxisCalcAcquireTime" )
{
	field( INPA, "$(P)$(R)AcquireTime" )
	field( INPB, "1e-6" )
	field( CALC, "MAX(0,MIN(A/B,3600000000))" )
	field( OUT,  "$(P)$(R)GC_AcqExpTime PP MS" )
	field( HOPR, "3600000000" )
	field( LOPR, "0" )
	field( EGU,  "uSec" )
}
record( ao, "$(P)$(R)GC_AcqExpTime" )
{
	field( EGU,  "uSec" )
	field( FLNK, "$(P)$(R)GC_AcqExpTime_RBV" )
}
record( ai, "$(P)$(R)GC_AcqExpTime_RBV" )
{
	field( EGU,  "uSec" )
	field( FLNK, "$(P)$(R)AxisCalcAcquireTime_RBV" )
}
record( calcout, "$(P)$(R)AxisCalcAcquireTime_RBV" )
{
	field( INPA, "$(P)$(R)GC_AcqExpTime_RBV" )
	field( INPB, "1e-6" )
	field( CALC, "A*B" )
	field( OUT,  "$(P)$(R)AcquireTime_RBV" )
	field( EGU,  "sec" )
}

# Override FLNK in ADGenICam PV GC_SensorWidth and GC_SensorHeight to cause our calc record to process
record( ai, "$(P)$(R)GC_SensorWidth_RBV" )
{
        field( FLNK, "$(P)$(R)MaxSizeXCal_RBV" )
}

record( ai, "$(P)$(R)GC_SensorHeight_RBV" )
{
        field( FLNK, "$(P)$(R)MaxSizeYCal_RBV" )
}

# Use calcout records to convert SensorWidth and SensorHeight to MaxSizeX and MaxSizeY
record( calcout, "$(P)$(R)MaxSizeXCal_RBV" )
{
        field(INPA,  "$(P)$(R)GC_SensorWidth_RBV PP MS")
        field(CALC, "A")
        field(OUT, "$(P)$(R)MaxSizeX_RBV")
}

record( calcout, "$(P)$(R)MaxSizeYCal_RBV" )
{
        field(INPA,  "$(P)$(R)GC_SensorHeight_RBV PP MS")
        field(CALC, "A")
        field(OUT, "$(P)$(R)MaxSizeY_RBV")
}

# Override FLNK in ADCore PV MinX and MinY to cause our calc record to process
record( longout, "$(P)$(R)MinX" )
{
        field( FLNK, "$(P)$(R)MinXCal" )
}

record( longout, "$(P)$(R)MinY" )
{
        field( FLNK, "$(P)$(R)MinYCal" )
}


# Use calcout records to convert to GC_OffsetX and GC_OffsetY
record( calcout, "$(P)$(R)MinXCal" )
{
        field( INPA, "$(P)$(R)MinX" )
        field( CALC, "A" )
        field( OUT,  "$(P)$(R)GC_OffsetX PP MS" )
}

record( calcout, "$(P)$(R)MinYCal" )
{
        field( INPA, "$(P)$(R)MinY" )
        field( CALC, "A" )
        field( OUT,  "$(P)$(R)GC_OffsetY PP MS" )
}

# Override FLNK in ADCore PV SizeX and SizeY to cause our calc record to process
record( longout, "$(P)$(R)SizeX" )
{
        field( FLNK, "$(P)$(R)SizeXCal" )
}

record( longout, "$(P)$(R)SizeY" )
{
        field( FLNK, "$(P)$(R)SizeYCal" )
}


# Use calcout records to convert to GC_Width and GC_Height
record( calcout, "$(P)$(R)SizeXCal" )
{
        field( INPA, "$(P)$(R)SizeX" )
        field( CALC, "A" )
        field( OUT,  "$(P)$(R)GC_Width PP MS" )
}

record( calcout, "$(P)$(R)SizeYCal" )
{
        field( INPA, "$(P)$(R)SizeY" )
        field( CALC, "A" )
        field( OUT,  "$(P)$(R)GC_Height PP MS" )
}

# Override ADCore PV TriggerMode to link w/ our camera PVs
record( mbbo, "$(P)$(R)TriggerMode" )
{
	field( DOL,  "2" )
	field( PINI, "YES" )
	field( ZRVL, "0" )	field( ZRST, "FreeRun" )
	field( ONVL, "1" )	field( ONST, "External" )
	field( TWVL, "2" )	field( TWST, "Pulse" )
	field( FLNK, "$(P)$(R)AxisCalcAcqTrigMode" )
}
# Use calcout records to update both GC_AcqTrigMode and GC_TrigExpType
# For TriggerMode FreeRun
#	GC_AcqTrigMode=FreeRunning
#	GC_TrigExpType=TrigTimed
# For TriggerMode External
#	GC_AcqTrigMode=Standard
#	GC_TrigExpType=TrigTimed
# For TriggerMode Pulse
#	GC_AcqTrigMode=Standard
#	GC_TrigExpType=TrigWidth
record( calcout, "$(P)$(R)AxisCalcAcqTrigMode" )
{
	field( INPA, "$(P)$(R)TriggerMode" )
	field( CALC, "A>0" )
	field( OUT,  "$(P)$(R)GC_AcqTrigMode PP MS" )
	field( FLNK, "$(P)$(R)AxisCalcTrigExpType" )
}
record( calcout, "$(P)$(R)AxisCalcTrigExpType" )
{
	field( INPA, "$(P)$(R)TriggerMode" )
	field( CALC, "A>0" )
        field( OCAL, "A==2" )
	field( OUT,  "$(P)$(R)GC_TrigExpType PP MS" )
        field( OOPT, "When Non-zero" )
        field( DOPT, "Use OCAL" )
}

record( mbbi, "$(P)$(R)TriggerMode_RBV" )
{
	field( ZRVL, "0" )	field( ZRST, "FreeRun" )
	field( ONVL, "1" )	field( ONST, "External" )
	field( TWVL, "2" )	field( TWST, "Pulse" )
}

# Override ADCore PV Acquire to use multiple FLNK to link w/ our camera PVs
#record( bo, "$(P)$(R)Acquire" ) {
#        field(DTYP, "asynInt32")
#        field(OUT, "@asyn($(PORT),$(ADDR=0),$(TIMEOUT=1))ACQUIRE")
#        field(ZNAM, "Done")
#        field(ONAM, "Acquire")
#        field(VAL,  "0")
#        field(FLNK, "$(P)$(R)AcquireFanout")  # Link to fanout
#        #field(FLNK, "$(P)$(R)SetAcquireBusy")
#   info(asyn:READBACK, "1")
#}
#
#record( fanout, "$(P)$(R)AcquireFanout" ) {
#        field(LNK0, "$(P)$(R)SetAcquireBusy PP")
#        field(LNK1, "$(P)$(R)AcquisitionControl PP")
#        field(LNK2, "$(P)$(R)AcquisitionStopControl PP")
#}

# calc Records to process GC_AcquisitionStart when Acquire = 1 and GC_AcquisitionStop when Acquire = 0
#record(calc, "$(P)$(R)AcquisitionStartControl") {
#    field(INPA, "$(P)$(R)Acquire")
#    field(CALC, "A=1?1:0")            # If Acquire=1, output 1; else 0
#    field(OUT, "$(P)$(R)GC_AcquisitionStart.PROC PP")
#}

#record(calc, "$(P)$(R)AcquisitionStopControl") {
#    field(INPA, "$(P)$(R)Acquire")
#    field(CALC, "A=0?1:0")            # If Acquire=0, output 1; else 0
#    field(OUT, "$(P)$(R)GC_AcquisitionStop.PROC PP")
#}

