# Macros:
#% macro, P, Device Prefix
#% macro, R, Device Suffix

record( stringin, "$(P)$(R)CamModel" )
{
	field( VAL,   "AxisSXRF60" )
	field( PINI,  "YES" )
}

record( stringin, "$(P)$(R)CamModelScreen" )
{
	field( VAL,   "ADGenICamScreens/AxisSXRF60.edl" )
	field( PINI,  "YES" )
}

# Override FLNK in ADCore PV AcquireTime to cause our calc record to process
record( ao, "$(P)$(R)AcquireTime" )
{
	field( FLNK, "$(P)$(R)AxisCalcAcquireTime" )
}
# Use calcout records to convert to/from AcquireTime in sec and GC_AcqExpTime in uSec
record( calcout, "$(P)$(R)AxisCalcAcquireTime" )
{
	field( INPA, "$(P)$(R)AcquireTime" )
	field( INPB, "1e-6" )
	field( CALC, "MAX(0,MIN(A/B,3600000000))" )
	field( OUT,  "$(P)$(R)GC_AcqExpTime PP MS" )
	field( HOPR, "3600000000" )
	field( LOPR, "0" )
	field( EGU,  "uSec" )
}
record( ao, "$(P)$(R)GC_AcqExpTime" )
{
	field( EGU,  "uSec" )
	field( FLNK, "$(P)$(R)GC_AcqExpTime_RBV" )
}
record( ai, "$(P)$(R)GC_AcqExpTime_RBV" )
{
	field( EGU,  "uSec" )
	field( FLNK, "$(P)$(R)AxisCalcAcquireTime_RBV" )
}
record( calcout, "$(P)$(R)AxisCalcAcquireTime_RBV" )
{
	field( INPA, "$(P)$(R)GC_AcqExpTime_RBV" )
	field( INPB, "1e-6" )
	field( CALC, "A*B" )
	field( OUT,  "$(P)$(R)AcquireTime_RBV" )
	field( EGU,  "sec" )
}

# Override FLNK in ADGenICam PV GC_SensorWidth and GC_SensorHeight to cause our calc record to process
record( ai, "$(P)$(R)GC_SensorWidth_RBV" )
{
        field( FLNK, "$(P)$(R)MaxSizeXCal_RBV" )
}

record( ai, "$(P)$(R)GC_SensorHeight_RBV" )
{
        field( FLNK, "$(P)$(R)MaxSizeYCal_RBV" )
}

# Use calcout records to convert SensorWidth and SensorHeight to MaxSizeX and MaxSizeY
record(calcout, "$(P)$(R)MaxSizeXCal_RBV")
{
    field(INPA,  "$(P)$(R)GC_SensorWidth_RBV PP MS")
    field(CALC, "A")
    field(OUT, "$(P)$(R)MaxSizeX_RBV")
}

record(calcout, "$(P)$(R)MaxSizeYCal_RBV")
{
    field(INPA,  "$(P)$(R)GC_SensorHeight_RBV PP MS")
    field(CALC, "A")
    field(OUT, "$(P)$(R)MaxSizeY_RBV")
}

# Override FLNK in ADCore PV MinX and MinY to cause our calc record to process
record( longout, "$(P)$(R)MinX" )
{
        field( FLNK, "$(P)$(R)MinXCal" )
}

record( longout, "$(P)$(R)MinY" )
{
        field( FLNK, "$(P)$(R)MinYCal" )
}


# Use calcout records to convert to GC_OffsetX and GC_OffsetY
record( calcout, "$(P)$(R)MinXCal" )
{
        field( INPA, "$(P)$(R)MinX" )
        field( CALC, "A" )
        field( OUT,  "$(P)$(R)GC_OffsetX PP MS" )
}

record( calcout, "$(P)$(R)MinYCal" )
{
        field( INPA, "$(P)$(R)MinY" )
        field( CALC, "A" )
        field( OUT,  "$(P)$(R)GC_OffsetY PP MS" )
}

