# Macros:
#% macro, P, Device Prefix
#% macro, R, Device Suffix

record( stringin, "$(P)$(R)CamModel" )
{
	field( VAL,   "AxisSXRF60" )
	field( PINI,  "YES" )
}

record( stringin, "$(P)$(R)CamModelScreen" )
{
	field( VAL,   "ADGenICamScreens/AxisSXRF60.edl" )
	field( PINI,  "YES" )
}

# Override FLNK in ADCore PV AcquireTime to cause our calc record to process
record( ao, "$(P)$(R)AcquireTime" )
{
	field( FLNK, "$(P)$(R)AxisCalcAcquireTime" )
}
# Use calcout records to convert to/from AcquireTime in sec and GC_AcqExpTime in uSec
record( calcout, "$(P)$(R)AxisCalcAcquireTime" )
{
	field( INPA, "$(P)$(R)AcquireTime" )
	field( INPB, "1e-6" )
	field( CALC, "MAX(0,MIN(A/B,3600000000))" )
	field( OUT,  "$(P)$(R)GC_AcqExpTime PP MS" )
	field( HOPR, "3600000000" )
	field( LOPR, "0" )
	field( EGU,  "uSec" )
}
record( ao, "$(P)$(R)GC_AcqExpTime" )
{
	field( EGU,  "uSec" )
	field( FLNK, "$(P)$(R)GC_AcqExpTime_RBV" )
}
record( ai, "$(P)$(R)GC_AcqExpTime_RBV" )
{
	field( EGU,  "uSec" )
	field( FLNK, "$(P)$(R)AxisCalcAcquireTime_RBV" )
}
record( calcout, "$(P)$(R)AxisCalcAcquireTime_RBV" )
{
	field( INPA, "$(P)$(R)GC_AcqExpTime_RBV" )
	field( INPB, "1e-6" )
	field( CALC, "A*B" )
	field( OUT,  "$(P)$(R)AcquireTime_RBV" )
	field( EGU,  "sec" )
}

# Override ADCore PV TriggerMode to link w/ our camera PVs
record( mbbo, "$(P)$(R)TriggerMode" )
{
	field( DOL,  "2" )
	field( PINI, "YES" )
	field( ZRVL, "0" )	field( ZRST, "FreeRun" )
	field( ONVL, "1" )	field( ONST, "External" )
	field( TWVL, "2" )	field( TWST, "Pulse" )
	field( FLNK, "$(P)$(R)AxisCalcAcqTrigMode" )
}
# Use calcout records to update both GC_AcqTrigMode and GC_TrigExpType
# For TriggerMode FreeRun
#	GC_AcqTrigMode=FreeRunning
#	GC_TrigExpType=TrigTimed
# For TriggerMode External
#	GC_AcqTrigMode=Standard
#	GC_TrigExpType=TrigTimed
# For TriggerMode Pulse
#	GC_AcqTrigMode=Standard
#	GC_TrigExpType=TrigWidth
record( calcout, "$(P)$(R)AxisCalcAcqTrigMode" )
{
	field( INPA, "$(P)$(R)TriggerMode" )
	field( CALC, "A>0" )
	field( OUT,  "$(P)$(R)GC_AcqTrigMode PP MS" )
	field( FLNK, "$(P)$(R)AxisCalcTrigExpType" )
}
record( calcout, "$(P)$(R)AxisCalcTrigExpType" )
{
	field( INPA, "$(P)$(R)TriggerMode" )
	field( CALC, "A==2" )
	field( OUT,  "$(P)$(R)GC_TrigExpType PP MS" )
}

record( mbbi, "$(P)$(R)TriggerMode_RBV" )
{
	field( ZRVL, "0" )	field( ZRST, "FreeRun" )
	field( ONVL, "1" )	field( ONST, "External" )
	field( TWVL, "2" )	field( TWST, "Pulse" )
}
